


{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container">
    		<div class="text-center">
				<h1 class="head-after h1fs">About Us</h1>
			</div>
		<div class="row">	
		  <div class="col-lg-8">
			<div class="row">
				<div class="text-justify tab-content" id="aboutt">				
					<p>Stratagem Market Insights is a management consulting organization providing market intelligence and consulting services worldwide. We bring the expertise of consultants with an cumulative industry experience of more than 70 years. The firm has been providing quantified B2B research and currently offers services to over 350+ customers worldwide. Our reports cover various end-use industries such as Aerospace and Defense, Agriculture, Food and Beverages, Automotive, Chemicals and Materials, Consumer Goods and Retail, Electronics, Energy, Mining, and Utilities, Pharmaceuticals, Manufacturing and Construction, Services, and Healthcare, and ICT.</p>
					
					<p>We strive to offer sapient solution, expert consultation, and tailored/customized solutions. Our team includes analysts that leverage their years of experience and expertise to create accurate and error-free reports. The domain-specific teams are constantly focused on tracking markets, aiding our clients gain competitive edge through high-quality market intelligence. We offer an array of services including, syndicated research, advisory and consulting, research process outsourcing, and content management.  Our highly sought after reports provide clients with key insights based on industry research, market size and forecast, market entry strategies, competitive intelligence, pricing analysis, consumer insights, procurement intelligence, and next-generation technologies.</p>
					
					<p><b>Why Stratagem Market Insights? </b></p>
						<ul>
							<li>On-time service delivery and accuracy </li>
							<li>Affordable charges</li>
							<li>Experienced and qualified team</li>
							<li>Vast global plexus of high caliber employees and consultants </li>
							<li>Service in all major countries around the world</li>
						</ul>
					<p><b>Our Philosophy</b></p>
						<ul>
							<li>Meticulously comprehend the requirements of the client</li>
							<li>Follow established strategic search methods to offer insightful reports</li>
							<li>Deliver quality service on time, every time</li>
						</ul>
						<br>
				<p> <b>* Stratagem Market Insights</b> is a consulting brand of <b>Worldwide Market Reports.</b></p>	
				</div>
				 <div class="clearfix">&nbsp;</div>
			</div>
		  </div>
			<div class="col-lg-4">
				<div class="card-d">
	<div class="mb-4">
		<ul class="t-head-center">
			<li class="nav-item">
				<div id="get-services" class="get-services-bg">
					<div class="container">
						<div class="align-items-center">
							<h4 class="mb-0 text-center">Need More Information</h4>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="pl-10">
		<div class="blog-c-card">
			<div class="row">
				<div class="col-sm-12">
					<h5 class="mb-0 text-left">Stratagem Market Insights</h5>
					<P class="mb-1 text-left"> 1001 4th Ave,<br> #3200,<br>
						Seattle, WA 98154,<br> U.S </P><hr>
					<h5 class="mb-0 text-left">Delivery Center</h5>
					<P class="mb-1 text-left"> 203, 2nd Floor, Bremen Business Center,<br> Aundh, Pune, Maharashtra 411007<br> India </P><hr>
					<h5 class="mb-0 text-left">Contact Us</h5>
					<p class="mb-1 text-left"> <a href="tel:+1-415-871-0703" id="telno">&nbsp;&nbsp;+1-415-871-0703</a> </p><hr>
					<h5 class="mb-0 text-left">Drop Us an email at</h5>
					<p class="mb-1 text-left"><a id="ph" href="cdn-cgi/l/email-protection.html#d6a5b7bab3a596a5a2a4b7a2b7b1b3bbbbb7a4bdb3a2bfb8a5bfb1bea2a5f8b5b9bb"><span class="__cf_email__" data-cfemail="8cffede0e9ffccfff8feedf8edebe9e1e1edfee7e9f8e5e2ffe5ebe4f8ffa2efe3e1">[email&#160;protected]</span></a></p>
				</div>
			</div>
		</div>
	</div>
</div> 			</div>		  
		</div>
    </div>
{% endblock %}

