


{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container">
    		<div class="text-center">
				<h1 class="head-after h1fs">About Us</h1>
			</div>
		<div class="row">
		  <div class="col-lg-12">
			<div class="row">
				<div class="text-justify tab-content" id="aboutt">
					<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.

Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>

					<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.

Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>

					<p><b>Some Questinary</b></p>
						<ul>
							<li>Blah Blah </li>

						</ul>
					<p><b>Our Vision</b></p>
						<ul>
							<li>table win-win survival strategies to ensure proactive dominatio</li>
							<li>table win-win survival strategies to ensure proactive dominatio</li>
							<li>table win-win survival strategies to ensure proactive dominatio</li>
						</ul>

						<br>
				<p> <b>Capitalize on low hanging fruit to identify a ball-park value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps</b></p>
				</div>
				 <div class="clearfix">&nbsp;</div>
			</div>
		  </div>

		</div>
    </div>
<div class="continer-fluid">
	<div class="jumbotron text-center" style="background-color:#1ad688">
              <h3>Subscribe Newsletter</h3>
		     <p class="lead"><input type="text" placeholder="  Enter Your Email" style="height:40px;width:400px">&nbsp;&nbsp;<a class="btn btn-primary" href="{% url 'index' %}" role="button"><strong>Subscribe</strong></a></p>
              <hr>

               </div>
             </div>
{% endblock %}

