

{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
			<div class="text-center">
				<h1 class="head-after h1fs">Contact Us</h1>
			</div>

		<div class="row">
				<div class="col-lg-8">
					<div class="card">
					  <div class="card-header" style="background-color:#ff0000;">
						 <h3 style="color:white;">Get in touch with us </h3>
					  </div>
					  <div class="card-body">
						<form method="post">
							<h3>*{{form.errors}}</h3>
						{% csrf_token %}
						{{form.full_name}}
						{{form.corporate_email}}
						{{ form.phone }}
						{{ form.subject }}
						{{ form.message }}

						<button type='submit' class='btn btn-primary'><strong>Send</strong></button>


					 </form>

					  </div>
					</div>
				</div>


		<div class="col-lg-4">
			      <div class="card">

							<div class="card-header" style="background-color:#ff0000;">
						 <h3 style="color:white;">Get in touch with us </h3>
					  </div>
					  <div class="card-body">
						  <p>Location Address:</p>
					  </div>

	   </div>

</div>
		</div>
	</div>
{% endblock %}


