




{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>

<style>#carouselExampleIndicators .carousel-item{height:700px;background-position:top}.main_carousal{max-height:550px;overflow:hidden}</style>
<div id="main-slider">
		<div id="carouselExampleIndicators" class="carousel slide carousel-fade main_carousal" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active" style="background-image:url({% static 'images/slider6.jpeg' %})">
						<div class="carousel-caption d-md-block search_mob hompge">
							<h5 class="head-after head-after-w">Welcome to Affulence Market Reports</h5>
							<h3>SOme text <span class="color-primary">SOme text </span>SOme text </h3>
							
							<a class="btn btn-lg btn-primary" href="{% url 'latestreports' %}">Let's Get Started<i class="icon-long-arrow-right"></i></a>
						</div>
					</div>
					<div class="carousel-item" style="background-image:url({% static 'images/slider3.jpg' %})">
						<div class="carousel-caption d-md-block search_mob hompge">
							<h5 class="head-after head-after-w">Welcome to Affulence Market Reports</h5>
							<h3>SOme Text <span class="color-primary">Some text</span></h3>
							<p class="mb-4">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
							<a class="btn btn-lg btn-primary " href="{% url 'latestreports' %}">Get Started Now <i class="icon-long-arrow-right"></i></a>
						</div>
					</div>
					<div class="carousel-item" style="background-image:url({% static 'images/slider4.jpg' %})">
						<div class="carousel-caption d-md-block search_mob hompge">
							<h5 class="head-after head-after-w">Welcome to Affulence Market Reports</h5>
							<h3>Lorem ipsum<span class="color-primary">Trends</span> Lorem ipsum</h3>
							<p class="mb-4">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
							<a class="btn btn-lg btn-primary" href="{% url 'latestreports' %}">Get Started Now <i class="icon-long-arrow-right"></i></a>
						</div>
					</div>
					<div class="carousel-item" style="background-image:url({% static 'images/slider5.jpg' %})">
						<div class="carousel-caption d-md-block search_mob hompge">
							<h5 class="head-after head-after-w">Welcome to Affulence Market Reports</h5>
							<h3>Lorem ipsum <span class="color-primary">Lorem ipsum </span>verticals</h3>
							<p class="mb-4">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
							<a class="btn btn-lg btn-primary" href="{% url 'latestreports' %}">Get Started Now <i class="icon-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
		</div>
	<br>
	<div id="our-clients" class="carousel-bg">
	<div class="container">
		<div class="row ourClient">
             <div class="col-md-2 col-sm-3 text-center">
                  <h3 class="section-title">Our Clients</h3>
             </div>
               <div class="col-md-10 col-sm-9">
                <div class="bx-wrapper" style="max-width:100%;">
                     <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: auto;">
                        <div class="bx-wrapper" style="max-width: 2185px;">
                        	<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 100px;">
						<ul id="bx5" class="bxslider">
						  <li> <a class="thumbnail"> <img alt="Lacoste" title="Lacoste" src="{% static 'assets/images/our-clients/Lacoste.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="Schindler" title="Schindler" src="{% static 'assets/images/our-clients/Schindler.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="unilever" title="unilever" src="{% static 'assets/images/our-clients/unilever.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="bosch" title="bosch" src="{% static 'assets/images/our-clients/bosch.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="gsk" title="gsk" src="{% static 'assets/images/our-clients/gsk.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="schott" title="schott" src="{% static 'assets/images/our-clients/schott.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="whirlpool" title="whirlpool" src="{% static 'assets/images/our-clients/whirlpool.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="bcg" title="bcg" src="{% static 'assets/images/our-clients/bcg.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="Pwc" title="Pwc" src="{% static 'assets/images/our-clients/Pwc.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="Sulzer" title="Sulzer" src="{% static 'assets/images/our-clients/Sulzer.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="AGC" title="AGC" src="{% static 'assets/images/our-clients/AGC.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="Nordson" title="Nordson" src="{% static 'assets/images/our-clients/Nordson.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="dow" title="dow" src="{% static 'assets/images/our-clients/dow.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="sandvik" title="sandvik" src="{% static 'assets/images/our-clients/sandvik.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="Pfizer" title="Pfizer" src="{% static 'assets/images/our-clients/Pfizer.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="philips" title="philips" src="{% static 'assets/images/our-clients/philips.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="roland Berger" title="roland Berger" src="{% static 'assets/images/our-clients/roland-Berger.png' %}"> </a> </li>
                                                     
						  <li> <a class="thumbnail"> <img alt="Intel" title="Intel" src="{% static 'assets/images/our-clients/intel.png' %}"> </a> </li>
                                                     

                                                     

						</ul></div></div>
                     </div>
                  </div>
               </div>
            </div>
		</div>
	</div>
</div>
<div id="about-us">
	    	<div class="container">
	    		<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="card" style="width: 18rem;">
							  <img src="{% static 'images/company-1.jpg' %}" class="card-img-top" alt="...">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="card" style="width: 18rem;">
							  <img src="{% static 'images/company-2.jpg' %}" class="card-img-top" alt="...">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
                         </div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="card" style="width: 18rem;">
							  <img src="{% static 'images/company-3.jpg' %}" class="card-img-top" alt="...">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
                         </div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="card" style="width: 18rem;">
							  <img src="{% static 'images/company-4.jpg' %}" class="card-img-top" alt="...">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
                         </div>
					</div>
				</div>
	    	</div>
	    </div>



<div id="our-services" class="our-services-bg">
    		<div class="container">
    			<div class="text-center mb-5">
					<h3 class="head-after color-primary" style="color:#3153a3"><strong>Trending Reports By Industries</strong></h3>

				</div>
				<div class="row">
					{% if categories %}


					{% for category in categories %}
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="">
						   <div class="mb-3 text-center catimg">
								<a href="{% url 'category' category.slug %}"><img alt="{{category.name}}" title="{{category.name}}" src="{{category.image.url}}"></a>
							</div>
							<h3 class="text-center" style="color:#3153a3"><a href="{% url 'category' category.slug %}">
								<strong> {{category.name | title }}</strong>
							</a></h3>
						</div>
					</div>
					{% endfor %}
                    {% else %}
					   <span> Please Add Categories </span>
					{% endif %}

				</div>	
			</div>
    	</div>
    	
<!--    	<div id="counter" class="counter-bg">-->
<!--            <div class="container">-->
<!--                <div class="row"> -->
<!--                    <div class="col-lg-3 mb-4">-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-4">-->
<!--                                <i class="icon-thumbs-up-alt icon-4x"></i>-->
<!--                            </div>-->
<!--                            <div class="col-sm-8">-->
<!--                            	<div class="count-timer">-->
<!--	                                <div><span class="timer" data-to="760" data-speed="5000"></span> <i class="icon-plus"></i></div>-->
<!--	                                <p>Projects Completed</p>-->
<!--                            	</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 mb-4">-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-4">-->
<!--                                <i class="icon-user icon-4x"></i>-->
<!--                            </div>-->
<!--                            <div class="col-sm-8">-->
<!--                            	<div class="count-timer">-->
<!--	                                <div><span class="timer" data-to="170" data-speed="5000"></span> <i class="icon-plus"></i></div>-->
<!--	                                <p>Expert Consultants</p>-->
<!--                                 </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 mb-4">-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-4">-->
<!--                                <i class="icon-smile icon-4x"></i>-->
<!--                            </div>-->
<!--                            <div class="col-sm-8">-->
<!--                            	<div class="count-timer">-->
<!--	                                <div><span class="timer" data-to="270" data-speed="5000"></span> <i class="icon-plus"></i></div>-->
<!--	                                <p>Clients</p>-->
<!--                            	</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 mb-4">-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-4">-->
<!--                                <i class="icon-trophy icon-4x"></i>-->
<!--                            </div>-->
<!--                            <div class="col-sm-8">-->
<!--                            	<div class="count-timer">-->
<!--	                                <div><span class="timer" data-to="5" data-speed="5000"></span> Million </div>-->
<!--	                                <p>Data Sets</p>-->
<!--	                            </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>                -->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
	    <div id="why-choose">
	    	<div class="container">
	    		<div class="row d-flex align-items-center">
	    			<div class="col-lg-12">
	    				<h1 class="head-after">Latest Reports</h1>

	    				<div class="row mt-5">
		    				<div class="col-lg-12">
                                {% for report in reports%}
                                <div class="card">
									<div class="row">
										<div class="col-sm-12">
											<a href="{% url 'reports:reportpage' report.slug %}"><h4 style="color:#3153a3">{{report.title | title }}</h4></a>
                                            <p>No. of Pages: &nbsp;&nbsp;{{report.no_of_pages}} &nbsp;&nbsp;| Industry:&nbsp;&nbsp;{{report.category.name | capfirst}} </p>
											<hr style="color:#3153a3">
											<p>{{report.summary | truncatechars:400 | safe }}<a class="blc" href="{% url 'reports:reportpage' report.slug %}"><strong>Read More >></strong></a></p><br>
											<div class="blog-btn">
												 <span class="text-left"><i class="icon-calendar"></i> {{report.published_date}}</span>



											</div>
										</div>
									</div>
								</div>
                                 {% endfor %}
								
							</div>
							<div class="col-lg-4 txt-center mb-xs-3">
                                <a href="{% url 'latestreports' %}"><button type="submit" name="submit" class="btn btn-primary"><strong>See All</strong></button></a>
							</div>
						</div>
	    			</div>
<!--	    			<div class="col-lg-5">-->
<!--    					<img class="w-100" src="assets/images/img-30.jpg" alt="Affulence Market Reports | Industry Analysis and Research Reports" title="Affulence Market Reports | Industry Analysis and Research Reports"/>-->
<!--	    			</div>-->
	    		</div>
	    	</div>
	    </div>





{% endblock %}